*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444c6c;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: #343c54;
    height: 35%;
    padding: 20px;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    
}

.main .titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 500;
}

button{
    background-color: #a84b60;
    color: white;
    height: 40px;
    width: 100%;

}

button:hover{
    transition: 0.2s ease-in-out ;
    background-color: #853a4c;
    cursor: pointer;
}


.nomeUsuario{
    color: white;
    margin-bottom: 10px;
}